.block {
    /* dis;  NEW */
    background: rgb(143, 45, 255);
    margin-left: 50px;
    padding: 50px;
    position: absolute;
    z-index: 1000;
    width:200px;
    height:200px;
    font-size: 1.33rem;
    text-align: center;
    
}

.stripe {
    background-image: url(https://tr.rbxcdn.com/9f3d018f09cee269479cfacc2476dd7c/420/420/Decal/Png);
}

.word {
    color: rgb(0, 0, 0);
}

.kart{
    position: absolute;
    bottom: 200px;
    left: 250px;
}
