.word {
    color: rgb(0, 0, 0);
}

.Q1 {
    color: rgb(255, 0, 0);
}

.Q2 {
    color: rgb(255, 115, 0);
}

.Q3 {
    color: rgb(255, 230, 0);
}

.Q4 {
    color: rgb(3, 192, 3);
}

.Q5 {
    color: rgb(0, 192, 160);
}

.Q6 {
    color: rgb(0, 189, 247);
}

.Q7 {
    color: rgb(0, 4, 255);
}

.Q8 {
    color: rgb(122, 0, 204);
}

.Q9 {
    color: rgb(138, 0, 108);
}

.Q10 {
    color: rgb(255, 0, 170);
}